<ion-view view-title="Detalles">
        <ion-content>
          <ion-list ng-repeat="playlist in playl7" class="center">
            <h2>{{playlist.title}} </h2>
            <h3>{{playlist.artist}}</h3>
            <img ng-src="{{playlist.thumb}}" alt="">
          </ion-list>
          <br>
          <h4 class="center">Canciones del disco</h4>
          <ion-list>
            <ion-list ng-repeat="playlist in song7" class="left">
              <p>{{playlist.song}} {{playlist.duration}} </p>
            </ion-list>
          </ion-list>
          <div class="container">
            <a href="#/tab/compras" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-shopping-cart"></span> Buy
            </a>
      
          </div>
        </ion-content>
      
      </ion-view>