<!-- 
Pestañas con iconos y etiqueta 
-->

<!-- Albums Tab -->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Albums" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/playlists">
    <ion-nav-view name="tab-playlists"></ion-nav-view>
 
  </ion-tab>
 
  <!-- Compras Tab -->
  <ion-tab title="Compras" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/compras">
    <ion-nav-view name="tab-compras"></ion-nav-view>
  </ion-tab>
</ion-tabs>

